{% extends "base.html" %}
{% block content %}
<h2>About FlaskBoost</h2>
<p>FlaskBoost is a web application designed to predict flight prices using advanced machine learning algorithms. Our goal is to provide users with accurate and reliable flight price predictions to help them make informed travel decisions.</p>
<p>Developed by a team of passionate developers and data scientists, FlaskBoost leverages the power of Flask for web development and integrates machine learning models to analyze various factors influencing flight prices.</p>
{% endblock %}